{% extends 'email.html.twig' %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New Episode</title>
</head>
<body>
    <h1>New Episode {{ episode.number }} created</h1>
    <h1>{{ program.title }}</h1>
    <p>Hello, the new episode {{ episode.title }} has been created on Wild Series</p>
    <p>Synopsis : {{episode.synopsis }}
</body>
</html>
{% endblock %}